@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

#root {
  background-color: var(--clr-dark);
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  font-weight: var(--fw-body);
  line-height: var(--lh-body);
  color: var(--clr-white);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
