@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  font-weight: var(--fw-body);
  line-height: var(--lh-body);
  color: var(--clr-white);
}
