:root {
  --clr-dark: hsl(230, 35%, 7%);
  --clr-light: hsl(231, 77%, 90%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-main-button-hover: hsl(0, 0%, 100%, 0.1);
  --clr-button-border: hsla(0, 0%, 100%, 0.25);

  --fs-h1: 150px;
  --fs-h2: 100px;
  --fs-h3: 56px;
  --fs-h4: 32px;
  --fs-h5: 28px;
  --fs-sb1: 28px;
  --fs-sb2: 14px;
  --fs-nav-text: 16px;
  --fs-body: 18px;

  --fw-body: 400;
  --fw-bold: 700;

  --ls-h5: 4.75px;
  --ls-sb2: 2.35px;
  --ls-nav-text: 2.7px;

  --lh-body: 32px;

  --ff-primary: 'Bellefair', serif;
  --ff-secondary: 'Barlow Condensed', sans-serif;
}
