.nav {
  width: 100%;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  font-family: var(--ff-secondary);
  letter-spacing: var(--ls-nav-text);

  & &__list {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 2rem;
  }

  & &__list-item {
    height: 96px;
  }

  & &__list-item > a {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
  }

  & &__list-item > a:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--clr-white);
    position: absolute;
    bottom: 0%;
    opacity: 0;
  }

  & &__list-item > a:hover:before {
    opacity: 0.5;
  }

  & &__list-item > a:active:before {
    opacity: 1;
  }

  & &__list-item > &__active:before {
    opacity: 1 !important;
  }

  & &__number {
    padding-right: 10px;
    font-weight: var(--fw-bold);
  }

  & &__close {
    display: none;
    margin: 2rem;
    margin-left: auto;
    background: transparent;
    border: none;
  }

  @media (max-width: 768px) {
    position: absolute;
    height: 100vh;
    left: 100%;
    top: 0%;
    width: 70%;
    transition: transform 0.75s ease;

    & &__list {
      flex-direction: column;
    }

    & &__list-item {
      height: 48px;
    }

    & &__list-item > a {
      width: min-content;
    }

    & &__close {
      display: block;
    }
  }
}
